.card.card-info.card-outline.mb-0
  .card-header
    %h3.card-title
      %i.fa.fa-chart-bar
      = t(:recursion_factor, default: 'Recursion Factor')
  .card-body
    %form#recursion_factor_form
      .input-group
        %input#recursion_factor_eq.form-control{type: "text", value: "#{Configurable.recursion_eq}"}
        %span.input-group-append
          %input.btn.btn-info.btn-flat{type: "submit", value: 'Go!'}>
    #plot_recursion_factor

:javascript
  function plot_recursion() {
    draw($('#recursion_factor_eq').val(), 'plot_recursion_factor', [0, 20, 1])
  }

  $(document).ready(function() {
    document.getElementById('recursion_factor_form').onsubmit = function (event) {
      event.preventDefault()
      plot_recursion()
    }
    plot_recursion()
  })
