.row
  .col-md-8
    = render "statistics", conto: @conto
.row
  .col-md-12= render "conto", conto: @conto
- if @movimenticonti
  .row= render "customers/movimenticonti/movimenticonti", movimenticonti: @movimenticonti

