.col-md-12
  .card
    .card-header
      %h3.card-title
        %i.fas.fa-exchange-alt
        = t(:listing_resource, resource: TimeLapseFactor.model_name.human(:count => 2))
      .card-tools
        %button{type: "button", class: "btn btn-tool", "data-card-widget" => "maximize"}
          %i.fas.fa-expand
        %button{type: "button", class: "btn btn-tool", "data-card-widget" => "collapse"}
          %i.fas.fa-plus
    .card-body
      = render "table", time_lapse_factors: time_lapse_factors
    .card-footer.clearfix
      .form-row
        .col-md-4
          = page_entries_info time_lapse_factors
        .col-md-8
          = paginate time_lapse_factors, theme: 'twitter-bootstrap-4', nav_class: "float-right", pagination_class: 'm-0'
