.row
  .col-md-12= render "time_lapse_factor", time_lapse_factor: @time_lapse_factor
.row
  = render "customers/time_lapse_factor_audits/time_lapse_factor_audits", time_lapse_factor_audits: @time_lapse_factor.time_lapse_factor_audits


