.col-md-12
  .card
    .card-header
      %h3.card-title
        %i.fa.fa-store-alt
        = t(:listing_resource, resource: Prodotto.model_name.human(:count => 2))
    .card-body
      = render "table", prodotti: @prodotti
