%aside.control-sidebar.control-sidebar-light
  .control-sidebar-content
    .d-flex.justify-content-between.m-3.mb-1
      %h5.mb-0
        %i.mt-1.fa.fa-bell
        Info
      %a.btn.btn-sm.btn-light{"data-slide" => "true", "data-widget" => "control-sidebar", :href => "#", :role => "button"}
        %i.fas.fa-th-large
    %hr