.col-md-12
  .card
    .card-header
      %h3.card-title
        %i.fas.fa-exchange-alt
        = t(:listing_resource, resource: EvaluatedMovement.model_name.human(:count => 2))
    .card-body
      = render "table", places: @places
    .card-footer.clearfix
      .row
        .col-md-4
          = page_entries_info @places
        .col-md-8
          = paginate @places, theme: 'twitter-bootstrap-4', nav_class: "float-right", pagination_class: 'm-0'
