.card.card-outline.card-primary
  .card-header
    .card-title
      %i.fas.fa-user
      #{Anagrafica.model_name.human} #{anagrafica.id}
  .card-body.scrollable{style: 'max-height: 400px'}
    %dl.row
      - for attribute in anagrafica.attributes.keys
        - unless %w(Password DataPassword).include?(attribute)
          %dt.col-md-4.text-right= attribute.humanize
          %dd.col-md-8= anagrafica.attributes[attribute] && anagrafica.attributes[attribute] != '' && anagrafica.attributes[attribute] != '""'? anagrafica.attributes[attribute].to_s : ' - '

