.card.card-outline.card-primary
  .card-header
    .card-title
      %i.fas.fa-list
      #{anagrafica.full_name}
  .card-body
    %dl
      %dt> Saldo ad una certa data
      %dd
      %dt> Nr movimenti uscita
      %dd
      %dt> Nr movimenti entrata (?)
      %dd
      %dt> Giacenza media
      %dd
