.card.card-outline.card-danger
  .card-header
    .card-title
      = fa_icon EvalCustomer.icon
      = link_to EvalCustomer.model_name.human(count: 2), [:customers, customer, :eval_customers]
  .card-body
    = bar_chart latest_eval_customers_customers_anagrafica_charts_path(@anagrafica), remote: true, download: true
