.row
  .col-md-12
    = render "conti", anagrafica: @anagrafica
.row
  .col-md-6= render "map", anagrafica: @anagrafica
  .col-md-4= render "table_years", item: @anagrafica
.row
  #anagrafiche_item.col-md-12
    = render "anagrafica", anagrafica: @anagrafica
