.row
  .col-md-12
    = render "conti", anagrafica: @anagrafica
- if @anagrafica.current_place.try(:lonlat) 
  .row
    .col-md-6
      = render "map", anagrafica: @anagrafica
.row
  #anagrafiche_item.col-md-12
    = render "anagrafica", anagrafica: @anagrafica
