- content_for :javascript_in_head do
  = javascript_pack_tag 'plugins/datatables', 'data-turbolinks-track': 'reload'
  = javascript_pack_tag 'plugins/duallistbox', 'data-turbolinks-track': 'reload'
  = javascript_pack_tag 'plugins/daterangepicker', 'data-turbolinks-track': 'reload'

#movimenti_conti_items.row
  = render "movimenticonti"
	