.col-md-12
  .card
    .card-header
      %h3.card-title
        %i.fas.fa-users
        = t(:listing_resource, resource: Rischio.model_name.human(:count => 2))
    .card-body
      = render "table", rischi: @rischi
    .card-footer.clearfix
      .form-row
        .col-md-12
          = paginate @rischi, theme: 'twitter-bootstrap-4', nav_class: "float-right", pagination_class: 'm-0'
