#card-destination-countries.card.card-outline.card-danger
  .card-header
    .card-title
      = fa_icon 'file-import'
      = EvaluatedMovement.human_attribute_name(:destination_country)
  .card-body
    = geo_chart map_destination_countries_data_analysis_charts_path(), remote: true, download: true
