.card.card-warning.card-outline
  .card-header
    .card-title
      = fa_icon ObservedElement.icon
      = ObservedElement.model_name.human(count: 2)
  .card-body.p-1
    = render 'observed_elements/table_item', observed_element: observed_element
