.form-row
  .col-md-6.text-right= AlgorithmCalculator.human_attribute_name(:default_value)
  .col-md-6= conditional_var.default_value

  - conditional_var.customer_category_conditional_vars.each do |customer_category_conditional_var|
    .col-md-6.text-right= customer_category_conditional_var.customer_category
    .col-md-6{class: "#{'text-success' if customer_category_conditional_var.default}"}= customer_category_conditional_var.try(:value)
    