.row
  .col-md-8
    = render 'conditional_var', conditional_var: @conditional_var, conditional_var: @conditional_var
    = render '/config/customer_category_conditional_vars/customer_category_conditional_vars', customer_category_conditional_vars: @conditional_var.customer_category_conditional_vars
