.card.card-outline.card-danger
  .card-header
    .card-title
      %i.fa.fa-chart-bar
      = t(:listing_resource, resource: EvalMovement.model_name.human(:count => 2))
  .card-body
    = column_chart eval_movements_for_month_customers_anagrafica_charts_path(@anagrafica, evaluated_risk.eval_year, evaluated_risk.eval_month), remote: true, download: true
