.row
  .col-md-6= render "chart_eval_days", evaluated_risk: @evaluated_risk
  .col-md-6= render "chart_eval_movements", evaluated_risk: @evaluated_risk

.row
  .col-md-12= render "evaluated_risk", evaluated_risk: @evaluated_risk


