= f.input :customer, readonly: true
= f.input :active
= f.input :product_id, hint: 'Leave 0 for all products'
= f.input :attention_factor, hint: 'Set a value less than one to decrease the attention factor'
