= f.input :customer, as: :hidden, readonly: true
= f.input :active, as: :hidden
= f.input :tollerance, hint: 'Set a value less than one to decrease the attention factor'
= f.input :audit_comment, label: "Comment"
