.row
  .col-md-12
    .card.card-primary.card-outline
      .card-header
        .card-title
          = fa_icon AlgorithmCalculator.icon
          = t(:listing_resource, resource: AlgorithmCalculator.model_name.human(:count => 2))
        - if can? :create, AlgorithmCalculator
          .card-tools= link_to(t(:add_resource, resource: AlgorithmCalculator.model_name.human), [:new, :config, :algorithm_calculator], class: "btn btn-xs btn-success") 
      .card-body
        = render 'table', algorithm_calculators: @algorithm_calculators
        
