.card.card-info.card-outline
  .card-header
    %h3.card-title
      %i.fa.fa-chart-bar
      = t(:country_factor, default: 'Country Factor')
  .card-body
    %form#country_factor_form
      .input-group
        %input#country_factor_calculated_eq.form-control{type: "text", value: "#{Configurable.country_eq}"}
        %span.input-group-append
          %input.btn.btn-info.btn-flat{type: "submit", value: 'Go!'}>
    #plot_country_factor

:javascript
  function plot_country_line() {
    draw($('#country_factor_calculated_eq').val(), 'plot_country_factor', [1.01, 3.5, 0.1])
  }

  $(document).ready(function() {
    document.getElementById('country_factor_form').onsubmit = function (event) {
      event.preventDefault()
      plot_country_line()
    }
    plot_country_line()
  })
