.card.card-info.card-outline
  .card-header
    %h3.card-title
      %i.fa.fa-chart-bar
      = t(:countries_factor_calculated, default: 'Calculated Countries Factor')
  .card-body
    %pre.border
      %code            
        
