.card.card-info.card-outline
  .card-header
    %h3.card-title
      %i.fa.fa-chart-bar
      = t(:product_factor, default: 'Product Factor')
  .card-body
    %form#product_factor_form
      .input-group
        %input#product_factor_calculated_eq.form-control{type: "text", value: "#{Configurable.product_eq}"}
        %span.input-group-append
          %input.btn.btn-info.btn-flat{type: "submit", value: 'Go!'}>
    #plot_product_factor
:javascript
  function plot_product() {
    draw($('#product_factor_calculated_eq').val(), 'plot_product_factor', [1.01, 3.5, 0.1])
  }
  $(document).ready(function() {
    document.getElementById('product_factor_form').onsubmit = function (event) {
      event.preventDefault()
      plot_product()
    }
    plot_product()
  })

