.col-md-12
  .card.card-outline.card-success
    .card-header
      %h3.card-title
        %i.fa.fa-exchange-alt
        = "#{Iban.model_name.human(:count => 2)}"
      .card-tools
        %button{type: "button", class: "btn btn-tool", "data-card-widget" => "maximize"}
          %i.fas.fa-expand
        %button{type: "button", class: "btn btn-tool", "data-card-widget" => "collapse"}
          %i.fas.fa-minus
    .card-body
      = render "table", ibans: ibans
    .card-footer.clearfix
      .form-row
        .col-md-12
          = paginate ibans, theme: 'twitter-bootstrap-4', nav_class: "float-right", pagination_class: 'm-0', total_pages: @cached_total_pages
