%table.table.table-striped.table-bordered.table-hover.mt-3{id: 'table_recursions'}
  %thead
    %tr
      %th= EvaluatedMovement.human_attribute_name(:movement_created_at)
      %th= EvaluatedMovement.human_attribute_name(:recursion)
      %th{data: {orderable: "false"}}
  %tbody
