%table.table.table-striped.table-bordered.table-hover{id: 'table_recursions'}
  %thead
    %tr
      %th= EvalMovement.human_attribute_name(:movement_created_at)
      %th= EvalMovement.human_attribute_name(:recursion)
      %th{data: {orderable: "false"}}
  %tbody
