.form-row
  .col-md-12
    = render 'chart'

:javascript
  var chart = Chartkick.charts["recursions-chart"]
  var data_source = chart.getDataSource().split('?')
  var table = $('#table_recursions').DataTable()

  function getRecursions(key) { 
    $('.btn-recursions').removeClass('active')
    $('a#' + key).addClass('active')
    let url = data_source[0] + '?key=' + key
    chart.updateData(url)
  }

  $( document ).ajaxComplete(function( event, xhr, settings ) {
    let response = JSON.parse(xhr.responseText)
    setTable(response[0].data)
  })


  function setTable(response) {
    table.clear()
    let data = []
    response.forEach(function (item, index) {  
      let ary_data = item[0].split('-')
      const y = ary_data[0]
      const m = ary_data[1]
      const d = ary_data[2]
      const day = d + '%2F' + m + '%2F' + y
      const daterange = day + '+-+' + day
      data.push({
        0: item[0],
        1: item[1],
        2: '<a class="btn btn-xs btn-primary" href="/data_analysis/evaluated_movements?filter[daterange]=' + daterange + '" /><i class="fa fa-eye"></i></a>'
      })
    })
    table.form-rows.add(data).draw();
  }