.col-md-12
  .card.card-danger.card-outline
    .card-header
      %h3.card-title
        %i.fas.fa-history
        = t(:listing_resource, resource: TimeLapseFactorAudit.model_name.human(:count => 2))
      .card-tools
        %button{type: "button", class: "btn btn-tool", "data-card-widget" => "maximize"}
          %i.fas.fa-expand
        %button{type: "button", class: "btn btn-tool", "data-card-widget" => "collapse"}
          %i.fas.fa-plus
    .card-body
      = render "customers/time_lapse_factor_audits/table", time_lapse_factor_audits: time_lapse_factor_audits
