%table.table.table-striped.table-bordered.table-hover.local-table{id: 'table_evaluated_movements', data: {source: "#{data_analysis_evaluated_movements_path(format: :json)}"}}
  %thead
    %tr
      %th{data: {priority: "10"}}= EvaluatedMovement.human_attribute_name(:id)
      %th{data: {priority: "9"}}= EvaluatedMovement.human_attribute_name(:triggerable)
      %th{data: {priority: "8"}}= EvaluatedMovement.human_attribute_name(:movement_created_at)
      %th{data: {priority: "1"}}= EvaluatedMovement.human_attribute_name(:customer)
      %th{data: {priority: "1"}}= EvaluatedMovement.human_attribute_name(:payer)
      %th{data: {priority: "2"}}= EvaluatedMovement.human_attribute_name(:payer_other)
      %th{data: {priority: "2"}}= EvaluatedMovement.human_attribute_name(:reason)
      %th{data: {priority: "2"}}= EvaluatedMovement.human_attribute_name(:beneficiary)
      %th{data: {priority: "5"}}= EvaluatedMovement.human_attribute_name(:product_name)
      %th{data: {priority: "11"}}= EvaluatedMovement.human_attribute_name(:product_id)
      %th{data: {priority: "13"}}= EvaluatedMovement.human_attribute_name(:product_base_risk)
      %th.text-center{data: {priority: "3"}}= EvaluatedMovement.human_attribute_name(:recursions_all)
      %th.text-center{data: {priority: "3"}}= EvaluatedMovement.human_attribute_name(:recursions_customer)
      %th{data: {priority: "3"}}= EvaluatedMovement.human_attribute_name(:evaluated_factor7)
      %th{data: {priority: "3"}}= EvaluatedMovement.human_attribute_name(:evaluated_factor30)
      %th{data: {priority: "4"}}= EvaluatedMovement.human_attribute_name(:amount)
      %th{data: {priority: "12"}}= EvaluatedMovement.human_attribute_name(:destination_lonlat)
      %th{data: {priority: "10"}}= EvaluatedMovement.human_attribute_name(:internal)
      %th{data: {priority: "7"}}= EvaluatedMovement.human_attribute_name(:origin_country)
      %th{data: {priority: "6"}}= EvaluatedMovement.human_attribute_name(:destination_country)
      %th{data: {priority: "1", orderable: "false"},nowrap: true}
  %tbody


:javascript
  $(document).ready(function() {
    /*
    jQuery.fn.DataTable.Api.register( 'buttons.exportData()', function ( options ) {
      if ( this.context.length ) {
        var jsonResult = $.ajax({
          url: $('#table_evaluated_movements').data('source'),
          data: {search: $('#search').val()},
          success: function (result) {
              //Do nothing
          },
          async: false
        });
        return {body: jsonResult.responseJSON.data, header: $("#table_evaluated_movements thead tr th").map(function() { return this.innerHTML; }).get()};
      }
    });
    */

    $('#table_evaluated_movements').DataTable({
      dom: 'lBrtip',
      processing: true,
      serverSide: true,
      columnDefs: [
        {"orderable": false, "targets": [-1]},
        {"serachable": false, "targets": [-1]},
      ],
      ajax: {
        "url": $('#table_evaluated_movements').data('source'),
      },
      buttons: ['csv','print', 'excel', 'pdf'],
      pagingType: "full_numbers",
      columns: [
        {"data": "id"},
        {"data": "triggerable"},
        {"data": "movement_created_at"},
        {"data": "customer"},
        {"data": "payer"},
        {"data": "payer_other"},
        {"data": "reason"},
        {"data": "beneficiary"},
        {"data": "product_name"},
        {"data": "product_id"},
        {"data": "product_base_risk"},
        {"data": "recursions_all"},
        {"data": "recursions_customer"},
        {"data": "evaluated_factor7"},
        {"data": "evaluated_factor30"},
        {"data": "amount_cents"},
        {"data": "destination_lonlat"},
        {"data": "internal"},
        {"data": "origin_country"},
        {"data": "destination_country"},
        {"data": "actions"}
      ],
      lengthChange: true,
      pageLength: 25,
      autoWidth: false,
      responsive: true
    })

  })
