- if @evaluated_movement.destination_lonlat
  .row
    .col-md-12
      = render "map_single", evaluated_movement: @evaluated_movement
.row
  .col-md-12= render "evaluated_movement", evaluated_movement: @evaluated_movement


