.form-row
  .col-md-8
    = render "evaluated_movement", evaluated_movement: @evaluated_movement
  .col-md-4
    = render 'observed_elements/table', observed_elements: @evaluated_movement.observers if @evaluated_movement.observers.any?
    = render 'data_analysis/evaluated_movements/details', evaluated_movement: @evaluated_movement
    = render 'data_analysis/evaluated_movements/map', evaluated_movement: @evaluated_movement
