.row
  .col-md-6= render "chart_eval_days", eval_customer: @eval_customer
  .col-md-6= render "chart_eval_movements", eval_customer: @eval_customer

.row
  .col-md-12= render "eval_customer", eval_customer: @eval_customer


