.card-header
  .card-title
    %i.fas.fa-map-marker-alt
    #{EvaluatedMovement.model_name.human(count: 2)}: 
    %span#places_count= @places.count
  .card-tools
    .form-row.mb-0
      .col-4
        .form-group.mb-0
          %select#showrange.form-control.form-control-sm
            %option{value: 'year'} Year
            %option{value: 'month', selected: "selected"} Month
            %option{value: 'day'} Day
            %option{value: 'hour'} Hour
            %option{value: 'range'} Range
      .col-4.m-0.p-0
        .input-group.m-0.p-0.input-group-sm
          .input-group-prepend
            %span.input-group-text
              %i.far.fa-clock
          %input#showtime.form-control.float-right{type: "text"}
      .col-3.m-0.p-0
        .input-group.m-0.p-0.pl-2.input-group-sm
          .input-group-prepend
            %span.input-group-text Limit
          %select#query_limit.form-control.form-control-sm
            %option{value: '1000'} 1'000
            %option{value: '5000', selected: "selected"} 5'000
            %option{value: '10000'} 10'000
            %option{value: '100000'} 100'000
            %option{value: '1000000'} 1'000'000
      .col-1.m-0.p-0
        %button{type: "button", class: "btn btn-tool", "data-card-widget" => "maximize"}
          %i.fas.fa-expand
