.row 
  .col-md-12
    .card.mt-3
      .card-body
        = line_chart count_evaluated_movements_data_analysis_charts_path(day: day, period: period), remote: true, thousands: "'"
.row 
  .col-md-6
    .card.mt-3
      .card-body
        = bar_chart sum_evaluated_movements_data_analysis_charts_path(day: day, period: period), remote: true, thousands: "'"
  .col-md-6
    .card.mt-3
      .card-body
        = bar_chart sum_evaluated_movements_data_analysis_charts_path(day: day, period: sub_period(period)), remote: true, thousands: "'", id: 'updatable-chart'
