.card.card-outline.card-primary
  .card-header
    .card-title
      %i.fas.fa-map-marker-alt
      #{EvaluatedMovement.model_name.human(count: 2)}: 
      %span#places_count= @places.count
  .card-body
    .form-row.mb-1
      .col-md-12
        %p
          Query params:
          %br
          bbox:
          %span#bbox
          %br
          start_date:
          %span#start_date
          \ - 
          end_date:
          %span#end_date
          %br
          range:
          %span#current_range
          \ - 
          step:
          %span#current_step
    .form-row
      .col-md-12
        #msg
      .col-md-12
        #live_map{ style: "height: 830px;" }

:javascript
  var format1 = "YYYY-MM-DD HH:mm:ss"
  var bbox
    , map
    , timelineControl
    , markers
    , current_range
    , start_date
    , end_date
    , props
    , start_query_date
    , end_query_date

  const divID = 'live_map'
  var current_date = moment("#{@day}")
  coords = [35.9480742, 14.3973929]
  map = new L.map(divID);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 18,
    minZoom: 3,
    attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
  }).addTo(map);
  map.setView(new L.LatLng(coords[0], coords[1]), 5);
  