.row
  .col-md-12
    #map_movements{ style: "height: 830px;" }
= javascript_include_tag 'map', 'data-turbolinks-track': 'reload'
:javascript
  var current_date = moment("#{@day}")
  initMap('map_movements')
  setProps()
  getMovements()
  // console.log(this.start_query_date)
  setDateRange()
  initTimeControl(this.props)
  pickerInit(datepicker, 'month')

  /*
  setSelector()
  setBbox(current_date)
  initTimeControl(this.props)
  */
  

