.card.card-outline.card-primary
  .card-header
    .card-title
      %i.fas.fa-map-marker-alt
      #{EvalMovement.model_name.human(count: 2)}: 
      %span#places_count= @places.count
  .card-body
    .row.mb-1
      .col-md-12
        %p
          Query params:
          %br
          bbox:
          %span#bbox
          %br
          start_date:
          %span#start_date
          %br
          end_date:
          %span#end_date
          %br
          range:
          %span#current_range
          %br
          step:
          %span#current_step

      .col-md-6
        .form-group
          %select#showrange.form-control.select2bs4{style: "width: 100%;"}
            %option{value: 'year'} Year
            %option{value: 'month', selected: "selected"} Month
            %option{value: 'day'} Day
            %option{value: 'hour'} Hour
            %option{value: 'range'} Range
      .col-md-6
        .form-group.mb-0
          .input-group
            .input-group-prepend
              %span.input-group-text
                %i.far.fa-clock
            %input#showtime.form-control.float-right{type: "text"}
    .row
      .col-md-12
        #map_movements{ style: "height: 830px;" }
= javascript_include_tag 'map', 'data-turbolinks-track': 'reload'
:javascript
  var current_date = moment("#{@day}")
  initMap('map_movements')
  setProps()
  getMovements()
  // console.log(this.start_query_date)
  setDateRange()
  initTimeControl(this.props)
  pickerInit(datepicker, 'month');
  /*
  setSelector()
  setBbox(current_date)
  initTimeControl(this.props)
  */
  

