.row
  .col-md-12
    .card.card-outline.card-primary
      = render 'card_header'
      .card-body
        .row
          .col-md-12
            = render "map"
.row
  .col-md-12
    = render 'graphics', period: @period, day: @day