.col-md-12
  .card
    .card-header
      %h3.card-title
        %i.fas.fa-users
        = t(:listing_resource, resource: EvalRiskiness.model_name.human(:count => 2))
    .card-body
      .form-row
        = render @eval_riskinesses
