.card.card-success.card-outline
  .card-header
    %h3.card-title
      %i.fas.fa-users
      = t(:listing_resource, resource: Prodotto.model_name.human(:count => 2))
  .card-body
    = render "table", prodotti: @prodotti
  .card-footer.clearfix
    .form-row
      .col-md-4= page_entries_info @prodotti
      .col-md-8= paginate @prodotti, theme: 'twitter-bootstrap-4', nav_class: "float-right", pagination_class: 'm-0'
